#root {
  width: 640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.tip {
  color: var(--secondary-text-color);
  text-align: left;
  font-family: monospace;
}
